.all{
//font size https://www.w3schools.com/html/html_css.asp
font-size: 12px;


}

//https://www.w3schools.com/howto/howto_css_image_responsive.asp
.responsive {
  width: 100%;
  height: auto;
}






//https://www.w3schools.com/css/css_rwd_images.asp
/* For devices smaller than 400px: */
body {
 // background-image: url('img_smallflower.jpg');
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
//  body {
  //  background-image: url('img_flowers.jpg');
  //}
//}
